/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

.DS_Store
.rules/
.idea/
.idea/workspace.xml
/web/tmp/
app/config/parameters_local.yml
symfony
*~
